*{
    padding: 0;
    margin: 0;
}

body{
    width: 100%;
    height: 100vh;
    box-sizing: border-box;
    padding: 5%;
    display: flex;
    flex-direction: column;
    font-family: Arial, Helvetica, sans-serif;
    background-color: rgb(0, 89, 255);
}

h1{
    text-align: center;
    color: white;
    font-size: 3rem;
}

.textoAlerta{
    color: red;
}

.visbleTexto{
    color: white;
}

.formularioNoVisible{
    display: none;
}

form{
    display: flex;
    flex-direction: column;
    width: 100%;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}

.inputs, .btn{
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

label{
    color: white;
}